/*
Lumino Admin Bootstrap Template
Version 1.0
*/


/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #faa317; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

a.highlight-link:hover {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue,
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
	color: #e6f4ff;
}

.btn-teal,
.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active,
.btn-teal.active,
.open > .dropdown-toggle.btn-teal,
.btn-teal.disabled,
.btn-teal[disabled],
fieldset[disabled] .btn-teal,
.btn-teal.disabled:hover,
.btn-teal[disabled]:hover,
fieldset[disabled] .btn-teal:hover,
.btn-teal.disabled:focus,
.btn-teal[disabled]:focus,
fieldset[disabled] .btn-teal:focus,
.btn-teal.disabled:active,
.btn-teal[disabled]:active,
fieldset[disabled] .btn-teal:active,
.btn-teal.disabled.active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal.active {
	background-color: #1ebfae;
	border-color: #1ebfae;
	color: #e6fffc;
}

.btn-orange,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange,
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
	background-color: #faa317;
	border-color: #faa317;
	color: #faf0e1;
}

.btn-red,
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red,
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
	background-color: #f9243f;
	border-color: #f9243f;
	color: #f9e0e3;
}

.btn-white {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #faa317;
}
a.bg-warning:hover {
	background-color: #faa317;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn,
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #faa317; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p {
	color: #fff;
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted {
	color: rgba(255, 255, 255, .5);
}

.panel-main {
	text-align: left;
	margin: 0px;
	padding: 20px;
	color: #222;
	font-weight: 300;
	background: #fff;
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #faa317; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border-bottom: solid 1px #ffffff;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  	position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

/*.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #314453;
	color: #fff;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

/*.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}*/

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}

span.sidebar-headline  {
	background: #222;
	color: #fff;
	border: none;
	display:block;
	padding-left: 15px;
	line-height: 40px;
	border-top: solid 1px #e9ecf2;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.8em;
	letter-spacing: 2px;
}

a.sidebar-toggle:hover {
	background: #eee;
}

 a.wf-running {
	background: #e6f4ff;
	color: #333;
}

a.wf-highlight-running, a.wf-running:hover {
		background: #cce9ff;
}

a.wf-waiting {
	background: #fff5e6;
	color: #333;
}

a.wf-highlight-waiting, a.wf-waiting:hover {
	background: #ffebcc;
}

a.wf-failed {
	background: #f9e0e4;
	color: #333;
}

a.wf-highlight-failed, a.wf-failed:hover {
	background: #f9c7cf;
}

a.wf-finished {
	background: #d0e7e5;
	color: #333;
}

a.wf-highlight-finished, a.wf-finished:hover {
	background: #b9e7e2;
}

span.wf-id {
	font-weight: bold;
	font-size: 0.8em;
}
.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

/*Badges*/

.badge-blue { background: #30a5ff; color: #fff; }
.badge-teal { background: #1ebfae; color: #fff; }
.badge-orange { background: #faa317; color: #fff; }
.badge-red { background: #f9243f; color: #fff; }

/*
 * Workflow Graph
 */
 svg {
  overflow: hidden;
  margin: 0 auto;
}

 .node rect {
   stroke: #333;
   fill: #fff;
 }

 .edgePath path {
   stroke: #333;
   fill: #333;
   stroke-width: 1.5px;
 }
